/* Remove Arrows on Number Input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  background-color: rgb(74, 74, 74);
  color: white;
  font-family: "Arial";
  text-align: center;
}

form {
  display: inline-block;
}

h1 {
  padding: 1em;
}

p {
  padding-left: 10em;
  padding-right: 10em;
}

.formDiv {
  padding: 1em;
}

.container {
  padding-left: 2em;
  padding-right: 2em;
}

.kalmanEquations {
  border-style: solid;
  margin-left: 20em;
  margin-right: 20em;
  border-radius: 1em;
}

.math {
  font-size: 25px;
}

.chart {
  padding-left: 10em;
  padding-right: 10em;
  padding-top: 5em;
  padding-bottom: 5em;
}